*, ::after, ::before{
    box-sizing: border-box;
}

html{
    font-size: 50%;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
main{
    width: 100vw;
    height: auto;
    background-color: #f06058;
    text-align: center;
    h1:nth-of-type(1){
        font-size: 7em;
        font-weight: 800;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    p{
        font-size: 3.5em;
        font-weight: bold;
    }
    p:nth-of-type(2){
        display: inline;

    }
    img{
        display: block;
        width: 600px;
        height: 380px;
        margin: 0 auto;
        padding-top: 10px;

    }
    #welcome{
        font-size: 3em;
        display: inline;
        padding-left: 20px;
    }
    div{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    label{
        font-size: 2.5em;
        padding-top: 10px;
        font-weight: bold;
    select{
        font-size: 1.1em;
    }
    }
    }
    button{
        margin-top: 30px;
        width: 300px;
        height: 50px;
        border-radius: 10px;
        border: none;
        background-color: #222222;
        color: #fcf9fa;
        font-size: 2.5em;
    }
    p:nth-of-type(3){
        font-size: 1.5em;
        margin-top: 20px;
    }
    .btn-blue{
        transform: scale(1.4, 1.4);
        background-color: #0c8fad;
        color:#222222;
    }
}